# Git / environnement local
.git
.env
.env.*
!.env.example

# Dépendances locales
vendor
node_modules

# Assets compilés
public/build
public/hot
public/storage

# Base SQLite locale (ne PAS copier en production)
database/*.sqlite
database/*.sqlite-journal

# Stockage / logs / caches
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

# Fichiers de développement
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
Thumbs.db
.DS_Store
*.log
